*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  padding: 20px;
  display: flex;
  justify-content: center;
}

.searchColor{
  width: 200px;
  height: 100px;
  background-color: aqua;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 20px black;
  cursor: pointer;
}